/* VENDOR */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=26454f26-7278-401f-abde-3442695b63c8");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** Border-box */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/** Clearfix */
.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

body {
  color: #404040;
  background-color: #686868; }

.main {
  background-color: white; }

a {
  color: #fa5c4f; }

.red {
  color: #fa5c4f; }

.light-grey {
  color: #f2f2f0; }

.medium-grey {
  color: #878785; }

.red-bg {
  color: white;
  background-color: #BC5959; }
  
.orange-bg {
  color: white;
  background-color: #FF9900; }  
  
.green-bg {
  color: white;
  background-color: #00B800; }  

.black-bg {
  color: white;
  background-color: #000000; }
  
.red-outline {
  border: 2px solid #fa5c4f; }

.grey-bg {
  background-color: #404040;
  color: white; }

.spacer-line {
  border-top: 1px solid #fa5c4f; }

.white-bg {
  background-color: white; }

/*@font-face {
  font-family: "AvenirNextLTW02-UltraLi";
  src: url("fonts/9d0ff87b-457c-4988-b68c-8856b9166cd0.eot?#iefix");
  src: url("fonts/9d0ff87b-457c-4988-b68c-8856b9166cd0.eot?#iefix") format("eot"), url("fonts/3440d0b9-8c44-4293-95a4-66226e4621ba.woff") format("woff"), url("fonts/285e280b-78cb-46c2-b03b-621ef1cafbad.ttf") format("truetype"), url("fonts/2d335be8-6459-4e44-b6e8-e9a2c5e38deb.svg#2d335be8-6459-4e44-b6e8-e9a2c5e38deb") format("svg"); }
@font-face {
  font-family: "Avenir Next W10 Bold";
  src: url("fonts/d80df405-6718-4dbc-9f54-d88c0807ca8b.eot?#iefix");
  src: url("fonts/d80df405-6718-4dbc-9f54-d88c0807ca8b.eot?#iefix") format("eot"), url("fonts/ba4bd129-7517-4eef-9fe8-473263d17616.woff") format("woff"), url("fonts/229324ce-a846-4038-9167-0e65a0c32226.ttf") format("truetype"), url("fonts/9705a786-ed36-423c-bfb3-43e7e96a3895.svg#9705a786-ed36-423c-bfb3-43e7e96a3895") format("svg"); }
@font-face {
  font-family: "Avenir Next W10 Medium";
  src: url("fonts/2bf26c0b-2c2a-4d68-8f6b-447ecd526105.eot?#iefix");
  src: url("fonts/2bf26c0b-2c2a-4d68-8f6b-447ecd526105.eot?#iefix") format("eot"), url("fonts/95aa7ca1-de33-40d9-ae40-ff045fcada66.woff") format("woff"), url("fonts/915534d0-f381-4fa3-9ff3-c56e5c6cfd08.ttf") format("truetype"), url("fonts/a252017e-236d-4161-895a-5f6b851154e4.svg#a252017e-236d-4161-895a-5f6b851154e4") format("svg"); }
@font-face {
  font-family: "Avenir Next W10 Heavy";
  src: url("fonts/d3f31394-e7cf-4553-b582-fcec4d7e84db.eot?#iefix");
  src: url("fonts/d3f31394-e7cf-4553-b582-fcec4d7e84db.eot?#iefix") format("eot"), url("fonts/ac97f5d6-a420-481a-955e-77653618b656.woff") format("woff"), url("fonts/5fc4aac2-c1c5-4bac-b182-b03ea3965419.ttf") format("truetype"), url("fonts/6dd157a3-38fb-4b2e-9988-bbe7b2da47f8.svg#6dd157a3-38fb-4b2e-9988-bbe7b2da47f8") format("svg"); }
@font-face {
  font-family: "AvenirNextLTW02-DemiIta";
  src: url("fonts/3b17673c-8a91-4f47-8d33-07a3839c19f9.eot?#iefix");
  src: url("fonts/3b17673c-8a91-4f47-8d33-07a3839c19f9.eot?#iefix") format("eot"), url("fonts/556718be-97d3-4321-a0f3-37d1e3be0788.woff") format("woff"), url("fonts/93c3227c-0aad-4ebb-8462-854fed96e9dc.ttf") format("truetype"), url("fonts/432d6c36-ab6a-4864-b76c-57748b886257.svg#432d6c36-ab6a-4864-b76c-57748b886257") format("svg"); }
@font-face {
  font-family: "Avenir Next W04 Demi";
  src: url("fonts/7adddd91-84e0-4423-b40e-61945189916d.eot?#iefix");
  src: url("fonts/7adddd91-84e0-4423-b40e-61945189916d.eot?#iefix") format("eot"), url("fonts/b0908846-3d5c-4768-af33-5f968b1da156.woff") format("woff"), url("fonts/fe1602be-28ca-467e-9cd3-7bfc586f31bc.ttf") format("truetype"), url("fonts/440ef6e1-120f-4c11-9325-fc1d04d9d9a0.svg#440ef6e1-120f-4c11-9325-fc1d04d9d9a0") format("svg"); }
@font-face {
  font-family: "AvenirNextLTW02-Regular";
  src: url("fonts/7a1b7ae7-5c29-481f-83ac-652e932c5509.eot?#iefix");
  src: url("fonts/7a1b7ae7-5c29-481f-83ac-652e932c5509.eot?#iefix") format("eot"), url("fonts/3a42a252-67ff-4186-88cf-762f56719ca1.woff") format("woff"), url("fonts/dbc39ae3-2636-4653-a23e-8938bce2cf51.ttf") format("truetype"), url("fonts/8e46b6cb-85f2-4400-a9d8-7cbd8ed30dd8.svg#8e46b6cb-85f2-4400-a9d8-7cbd8ed30dd8") format("svg"); }
@font-face {
  font-family: "Avenir Next W10 Thin";
  src: url("fonts/b974d116-d3bf-4dd2-867d-690069cd9b8a.eot?#iefix");
  src: url("fonts/b974d116-d3bf-4dd2-867d-690069cd9b8a.eot?#iefix") format("eot"), url("fonts/05ba45a2-c542-4737-b332-e1059c7b54d3.woff") format("woff"), url("fonts/51c1912f-2905-477e-86ff-d0eb55720b1f.ttf") format("truetype"), url("fonts/98b97f32-8588-4a72-b4fe-6a84f02b297c.svg#98b97f32-8588-4a72-b4fe-6a84f02b297c") format("svg"); }
@font-face {
  font-family: "Avenir Next W01 Light";
  src: url("fonts/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix");
  src: url("fonts/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix") format("eot"), url("fonts/f401df6f-54eb-406c-b46a-90b9451c598d.woff") format("woff"), url("fonts/276fe25e-e430-4376-b33c-705dd77b3dba.ttf") format("truetype"), url("fonts/869dc33b-3685-4d74-a51c-82b435579093.svg#869dc33b-3685-4d74-a51c-82b435579093") format("svg"); }*/
input:focus {
  border: 1px solid #fa5c4f; }

input:hover {
  border: 1px solid #404040; }

button {
  background-color: green;
  outline: 0px;
  border-radius: 30px;
  border: 0px solid;
  padding: 6px; }
  
  #cancel {
  background-color: orange;
  }
  
input {
width: 200px;
border-radius: 5px;
border: 1px solid #f2f2f0;
padding: 6px; }
  
textarea {
 height: 200px;
width: 300px;
resize: none;
outline: 0px;
border-radius: 5px;
border: 1px solid #f2f2f0;
padding: 6px; }
  
/* textarea {
  font-family: "AvenirNextLTW02-Regular", sans-serif;
  font-size: 16px;
  line-height: 25px;
  resize: none;		
  outline: 0px;
  border-radius: 15px;
  border: 1px solid #f2f2f0;
  padding: 6px; } */

/* .highlight .hll { background-color: #49483e } */
.highlight {
  color: #f8f8f2; }

.highlight pre {
  color: #f8f8f2; }

.highlight .c {
  color: #75715e; }

/* Comment */
.highlight .err {
  color: #960050; }

/* Error */
.highlight .k {
  color: #66d9ef; }

/* Keyword */
.highlight .l {
  color: #ae81ff; }

/* Literal */
.highlight .n {
  color: #f8f8f2; }

/* Name */
.highlight .o {
  color: #f92672; }

/* Operator */
.highlight .p {
  color: #f8f8f2; }

/* Punctuation */
.highlight .cm {
  color: #75715e; }

/* Comment.Multiline */
.highlight .cp {
  color: #75715e; }

/* Comment.Preproc */
.highlight .c1 {
  color: #75715e; }

/* Comment.Single */
.highlight .cs {
  color: #75715e; }

/* Comment.Special */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .kc {
  color: #66d9ef; }

/* Keyword.Constant */
.highlight .kd {
  color: #66d9ef; }

/* Keyword.Declaration */
.highlight .kn {
  color: #f92672; }

/* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef; }

/* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef; }

/* Keyword.Type */
.highlight .ld {
  color: #e6db74; }

/* Literal.Date */
.highlight .m {
  color: #ae81ff; }

/* Literal.Number */
.highlight .s {
  color: #e6db74; }

/* Literal.String */
.highlight .na {
  color: #a6e22e; }

/* Name.Attribute */
.highlight .nb {
  color: #f8f8f2; }

/* Name.Builtin */
.highlight .nc {
  color: #a6e22e; }

/* Name.Class */
.highlight .no {
  color: #66d9ef; }

/* Name.Constant */
.highlight .nd {
  color: #a6e22e; }

/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2; }

/* Name.Entity */
.highlight .ne {
  color: #a6e22e; }

/* Name.Exception */
.highlight .nf {
  color: #a6e22e; }

/* Name.Function */
.highlight .nl {
  color: #f8f8f2; }

/* Name.Label */
.highlight .nn {
  color: #f8f8f2; }

/* Name.Namespace */
.highlight .nx {
  color: white; }

/* Name.Other */
.highlight .py {
  color: #f8f8f2; }

/* Name.Property */
.highlight .nt {
  color: #f92672; }

/* Name.Tag */
.highlight .nv {
  color: #f8f8f2; }

/* Name.Variable */
.highlight .ow {
  color: #f92672; }

/* Operator.Word */
.highlight .w {
  color: #f8f8f2; }

/* Text.Whitespace */
.highlight .mf {
  color: #ae81ff; }

/* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74; }

/* Literal.String.Char */
.highlight .sd {
  color: #e6db74; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74; }

/* Literal.String.Double */
.highlight .se {
  color: #ae81ff; }

/* Literal.String.Escape */
.highlight .sh {
  color: #e6db74; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74; }

/* Literal.String.Other */
.highlight .sr {
  color: #e6db74; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74; }

/* Literal.String.Single */
.highlight .ss {
  color: #e6db74; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff; }

/* Literal.Number.Integer.Long */
/* Font Sizing */
body, input {
  font-family: "AvenirNextLTW02-Regular", sans-serif;
  font-size: 16px;
  line-height: 25px; }
  
body, textarea {
  font-family: "AvenirNextLTW02-Regular", sans-serif;
  font-size: 16px;
  line-height: 25px; }

h1 {
  font-size: 67px;
  line-height: 109px;
  margin-bottom: 67px; }

h2 {
  font-size: 41px;
  line-height: 67px;
  margin-bottom: 41px; }

h3 {
  font-size: 25px;
  line-height: 41px;
  margin-bottom: 25px; }

h4 {
  font-family: "Avenir Next W04 Demi"; }

h4, h5, h6, p, li, a {
  font-size: 16px;
  line-height: 25px; }

h1, h2, h3, h4, h5, h6 {
  max-width: 845px; }

p {
  max-width: 522px; }

h5 {
  text-transform: uppercase; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

pre {
  font-family: monospace;
  width: 100%;
  background-color: #404040;
  border-radius: 5px;
  padding: 27px 18px;
  overflow-x: scroll; }

ul {
  margin-left: 25px; }

code {
  width: 100%; }

.spacer {
  padding-bottom: 41px; }

.miniSpacer {
  padding-bottom: 9px; }

p, pre, ul {
  margin-bottom: 25px; }

.centered {
  text-align: center; }

.text-right {
  text-align: right; }

small {
  font-size: 9px;
  line-height: 9px; }

.base-margin {
  margin-bottom: 16px; }

/** Helpers */
.no-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.button {
  padding: 18px;
  border-radius: 3px;
  margin: 29px 0px; }

.backface-visible {
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible; }

/** Positioning */
.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

/** Padding */
.pad-d {
  padding: 16px; }

.pad-b2 {
  padding-top: 25.888px;
  padding-bottom: 25.888px; }

.pad-l-g1 {
  padding-left: 5%;
  padding-right: 5%; }

/** Mobile 100% columns */
.col1,
.col1-2,
.col1-3,
.col2-3,
.col1-4,
.col3-4,
.col1-8,
.col3-8,
.col5-8,
.col7-8,
.col-m1-2,
.col-m1-3,
.col-m2-3 {
  float: left;
  width: 100%; }

/** always this percentage*/
.col-a1-2 {
  width: 50%; }

.col-a1-3 {
  width: 33.3333333%; }

.col-a1-4 {
  width: 25%; }

.col-a1-5 {
  width: 20%; }

.col-a3-4 {
  width: 75%; }

.marl-0 {
  margin-left: 0; }

.mar1-4 {
  margin-left: 25%; }

.pad-l1-4 {
  padding-left: 0; }

.pad-l1-4g {
  padding-left: 30%; }

/** columns with margins */
.col-m1-4 {
  width: 20%; }

.mobileHide {
  display: none; }

.mobileShow {
  display: block; }

@media only screen and (min-width: 768px) {
  .mobileHide {
    display: block; }

  .mobileShow {
    display: none; }

  .pad-l1-4 {
    padding-left: 25%; }

  .col1-8 {
    width: 12.5%; }

  .col1-4 {
    width: 25%; }

  .col1-3 {
    width: 33.333333%; }

  .col3-8 {
    width: 37.5%; }

  .col1-2 {
    width: 50%; }

  .col5-8 {
    width: 62.5%; }

  .col2-3 {
    width: 66.666666%; }

  .col3-4 {
    width: 75%; }

  .col7-8 {
    width: 87.5%; } }
.col,
.col-d,
.col-d2 {
  width: 100%;
  float: left; }

@media only screen and (min-width: 540px) {
  .col-d {
    width: 50%; }

  .col-d2 {
    width: 25%; } }
@media only screen and (min-width: 768px) {
  .col-d {
    width: 33.3%; }

  .col-d2 {
    width: 12.5%; } }
@media only screen and (min-width: 1440px) {
  .col-d {
    width: 25%; }

  .col-d2 {
    width: 8.5%; } }
.h100 {
  height: 100%;
  position: fixed; }

.scrollable {
  overflow-y: scroll; }

.docs .method-block {
  border-bottom: 1px solid white;
  margin-bottom: 41px; }

.doc-highlight {
  color: #404040; }

.famous-background-repeat {
  background: url(/images/famous_pattern_7.jpg) repeat center center;
  background-size: 600px 600px; }

